<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/system-screen.css" />
    <link rel="stylesheet" href="/css/common-teacher-screen.css" />
    <link rel="stylesheet" href="/css/create-course.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />
    <title>Document</title>
    <script src="/javascript/micro-frontend.js">
    </script>
</head>

<body>
    <div class="row">
        <div th:replace="fragments/student-course-overview-sidebar"></div>

        <!-- NAVBAR FOR USER -->
        <div th:replace="fragments/navbar"></div>
        <main class="main-dashboard col-10 p-0">

            <div id="root" class="dashboard-wrapper"></div>
        </main>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
<script>

    downloadMicroService("SoftSkillsLearning", {
        mode: "read",
        prefix: "https://firebasestorage.googleapis.com/v0/b/soft-skill-bc141.appspot.com/o/",
        suffix: "?alt=media"
    })


</script>

</html>