/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.body-question {
  width: 100%;
  display: flex;
  padding: 10px;
  margin-top: 5px;
}

.body-question .authors .username {
  font-size: 20px;
  text-align: center;
}

.body-question .authors img {
  max-width: 60px;
  max-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.body-question .question-content .comment button {
  border: none;
  padding: 10px;
  box-shadow: 4px 6px #fff;
  cursor: pointer;
  right: 0;
}

.body-question .question-content {
  padding-left: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-question .question-content .comment {
  width: auto;
  height: auto;
  right: 0;
}

/* comment section */

.comment-area textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  font-size: 1.6rem;
}

.comment-area input {
  float: right;
  padding: 10px;
  font-size: 1.6rem;
  cursor: pointer;
  margin-top: 1.5rem;
}

.hide {
  display: none;
}

.comments-container {
  border-bottom: 1px solid rgb(189, 183, 183);
}

.body-question {
  padding-bottom: 2rem;
}