.bg {
  background-color: #1d232a;
  min-height: 100vh;
  padding-top: 12rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

.help span {
  color: #ffffff;
  font-size: 3rem;
}

.help label {
  color: #ffffff;
  font-size: 2rem;
}

.form-control {
  font-size: 2rem !important;
}

form {
  margin-top: 5rem;
}
.change-m1 {
  margin-top: 7rem;
}
.change-m2 {
  margin-top: 4rem;
}
#form-couse-comment {
  width: 100%;
  min-height: 200px;
  resize: none;
  font-size: 2rem;
}
body {
  overflow: hidden; /* Hide scrollbars */
}

.submit {
  width: 100%;
  font-size: 2rem;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #3e55a4;
  color: #ffffff;
}
.info,
.mail,
.phone {
  color: #ffffff;
  font-size: 2rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
