<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>  
        <h1>Create New Course</h1>     
        <div>
            <form action="#" th:action="@{/saveCourse}" th:object="${course}" method="POST">
                <div th:object="${description}">
                    <div th:object="${image}">
                        UserID: <input type="text" th:field="${course.userId}"/><br/>
                        Tên khoá học: <input type="text" th:field="${course.courseName}"/><br/>
                        Ảnh đại diện khoá học: <input type="text" th:field="${image.imageUrl}"/><br/>
                        <!--Description: <input type="text" th:field="${description.description}"/><br/>-->
                        <label>Mô tả</label><br/>
                        <textarea  th:field="${description.content}" rows="10" cols="50"></textarea>
                    </div>
                </div>
                <!--            Course Description: <input type="text" th:field="*{courseName}"/><br/>-->
                <input type="submit" value="Create" />
            </form>
        </div>
    </body>
</html>
