<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Course Display</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--css-->
        <!--        <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
        
                js
                <script th:src="@{/js/bootstrap.js}"></script>-->
    </head>
    <body>
        <h2>Course Display</h2>

        <table border="1">
            <tr>
                <th>CourseID</th>
                <th>CourseName</th>
                <th>CourseDate</th>
                <th>Date Update</th>
                <th>UserID</th>
            </tr>
            <tr th:each="course : ${course}">
                <td th:text="*{course.courseId}"></td>
                <td th:text="*{course.courseName}"></td>
                <td th:text="*{course.createDate}"></td>
                <td th:text="*{course.updateDate}"></td>
                <td th:text="*{course.userId}"></td>
            </tr>
        </table>

    </body>
</html>
